.page {

    height:100vh;
    min-height: 470px;

}
/*@font-face {
    font-family: perfect-font;
    src: url(perfect-font.ttf);
}

body {
    font-family: perfect-font;
}*/
#page-one {
  background-color: lightblue;
}
#page-two {
  background-color: lightgreen;
}
#page-three {
  background-color: rgb(252, 153, 231);
}
.button {
  height: 10vh;
  min-height: 40px;
  width: 100%;
  margin: auto;
}

.no-padding {
  padding: 0;
}

.fill {
  height: 10vh;
}

.welcome-row {
  font-size: 30px;
  min-height: 100px;
  text-align: center;
  height: 20vh;
}
#about-accordion {
  height:70vh;
  min-height: 329px;
}
#to-team {
  bottom: 0;
}
